
# Ignore Compilation output files
video_record/eclipse/*
view_rosbag/eclipse/*
video_record/src/.project
view_rosbag/src/.project
video_record/.metadata/*
view_rosbag/.metadata/*
video_record/RemoteSystemsTempFiles/*
view_rosbag/RemoteSystemsTempFiles/*
video_record/build/*
view_rosbag/build/*
